.spz-skeleton {
  background-color: var(--gray-800);
  position: relative;
  overflow: hidden;
}

.spz-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.05),
    transparent
  );
  animation: skeletonShimmer 1.5s infinite;
}

@keyframes skeletonShimmer {
  100% { transform: translateX(100%); }
}

.spz-skeleton.text {
  height: 1em;
  border-radius: 4px;
}

.spz-skeleton.rect {
  border-radius: var(--radius-sm);
}

.spz-skeleton.circle {
  border-radius: 50%;
}
