.spz-switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-12);
  cursor: pointer;
  user-select: none;
}

.switch-label {
  font-family: var(--font-secondary);
  font-size: var(--font-body-sm);
  color: var(--color-white);
}

.switch-wrapper {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-800);
  transition: .4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-white);
  transition: .4s;
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}

input:checked + .switch-slider {
  background-color: var(--color-primary);
}

input:checked + .switch-slider:before {
  transform: translateX(20px);
}

.spz-switch-container.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
